
@charset "utf-8";
@import "./library.less";

//顶部高度
 @headerH:7*@gird;
 //底部高度
 @footerH:7*@gird;

 //顶部
 .zfHeader {
     height: @headerH;
     background:@Primary;
     color:@white;
     font-size:1.3rem;
     top:0px;
     left:0px;
     width:100%;
     z-index:@zIndex4;
      .header-center {
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
     }
     .header-right {
         position:absolute;
         top:50%;
         right:2*@gird;
          transform:translateY(-50%);
         
     }
     .header-left {
        position:absolute;
         top:50%;
         left:2*@gird;
        transform:translateY(-50%);
         
     }
     i {
        vertical-align:middle;
     }
}
//容器
.zfContainer {
    position:absolute;
    width:100%;
    height:auto;
    z-index:@zIndex1;
}
.zfContainerScroll {
     overflow:hidden;
     overflow-y:auto;
      >div {
        position:absolute;
        min-height:100%;
        width:100%;
    }
}
.zfContainerTop {
    top:@headerH !important;
}
.zfContainerBottom {
    top:0px;
    bottom:@footerH !important;;
}
//底部
.zfFooter {
    position:fixed;
    bottom:0px;
    height:@footerH;
    width:100%;
    background:@Primary;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:@white;
    padding:8px;
     z-index:@zIndex4;
    >div {
        text-align:center;
        i {
            font-size:1.3rem;
        }
        div {
            font-size:1.2rem;
            margin-top:4px;
        }
    }
  }

  /*列表*/
 .zfCell{
       display:flex;
       justify-content:space-between;
       align-items:center;
       min-height:6*@gird;
       padding:1*@gird;
       background:white;
       border-bottom:1px solid rgba(0,0, 0, 0.1);
       .icon {
            color:rgba(0,0, 0, 0.48);
       }
       .content {
            max-width:85%;
       }
       .title {
            font-size:1.2rem;
             color:rgba(0,0, 0, 0.87);
             overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
       }
       .secondary {
            color:rgba(0,0, 0, 0.48);
            margin-top:8px;
            overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
            min-width:0px;
            height:1.5em;
            font-size:1.1rem;
           
       }
   }