/*
 *----------------------------
 * 公共scss库
 *----------------------------
 * $author likaixuan
 * $date 2017/06/24
 * 
 */
@charset "utf-8";
@import "./library.scss";

//顶部高度
 $headerH:rem(60);
 //底部高度
 $footerH:rem(60);

 //顶部
 .zfHeader {
     height: $headerH;
     background:$Primary;
     color:$white;
     font-size:rem(18);
     top:0px;
     left:0px;
     width:100%;
     z-index:$zIndex4;
      .header-center {
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
     }
     .header-right {
         position:absolute;
         top:50%;
         right:2*$gird;
         transform:translateY(-50%);
         
     }
     .header-left {
        position:absolute;
         top:50%;
         left:2*$gird;
        transform:translateY(-50%);
         
     }
     i {
        vertical-align:middle;
     }
}
//容器
.zfContainer {
    position:absolute;
    width:100%;
    height:auto;
    z-index:$zIndex1;
}
.zfContainerScroll {
     overflow:hidden;
     overflow-y:auto;
      >div {
        position:absolute;
        min-height:100%;
        width:100%;
    }
}
.zfContainerTop {
    top:$headerH !important;
}
.zfContainerBottom {
    top:0px;
    bottom:$footerH !important;;
}
//底部
.zfFooter {
    position:fixed;
    bottom:0px;
    height:$footerH;
    width:100%;
    background:$Primary;
    display:flex;
    justify-content:space-around;
    color:$white;
    z-index:$zIndex4;
    padding:1*$gird;
    >div {
        display:flex;
        justify-content:space-around;
        flex-wrap:wrap;
        align-content:space-around;
        text-align:center;
        i {
            font-size:rem(15);
        }
        div {
          font-size:rem(14);
          width:100%;
        }
    }
  }

  /*列表*/
 .zfCell{
       display:flex;
       justify-content:space-between;
       align-items:center;
       min-height:rem(50);
       background:white;
       border-bottom:1px solid rgba(0,0, 0, 0.1);
       padding:rem(8);
       .icon {
            display:flex;
            align-items:center;
            i {
                  font-size:rem(14);
            }
       }
       .content {
            max-width:85%;
       }
       .title {
            font-size:rem(15);
             color:rgba(0,0, 0, 0.87);
             overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
       }
       .secondary {
            color:rgba(0,0, 0, 0.48);
            margin-top:1*$gird;
            overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
            min-width:0px;
            font-size:rem(12);
           
       }
   }