/*
 *----------------------------
 * 公共scss库
 *----------------------------
 * $author likaixuan
 * $date 2017/06/24
 * 
 */
@charset "utf-8";
@import "./library.scss";

//顶部高度
 $headerH:rem(88);
 //底部高度
 $footerH:rem(88);

  
 //顶部
 .zfHeader {
     @extend .horizontal-center;
     height: $headerH;
     background:$Primary;
     color:$white;
     font-size:rem(24);
     top:0px;
     width:100%;
     z-index:$zIndex4;
     .header-center {
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
     }
     .header-right {
         position:absolute;
         top:50%;
         right:2*$gird;
         transform:translateY(-50%);
     }
     .header-left {
        position:absolute;
         top:50%;
         left:2*$gird;
        transform:translateY(-50%);
         
     }
     i {
        vertical-align:middle;
     }
}
//容器
.zfContainer {
     @extend .horizontal-center;
    position:absolute;
    width:100%;
    height:auto;
    z-index:$zIndex1;
}
.zfContainerScroll {
     overflow:hidden;
     overflow-y:auto;
      >div {
        position:absolute;
        width:100%;
    }
}
.zfContainerTop {
    top:$headerH !important;
}
.zfContainerBottom {
    top:0px;
    bottom:$footerH !important;;
}
//底部
.zfFooter {
     @extend .horizontal-center;
    position:fixed;
    bottom:0px;
    height:$footerH;
    width:100%;
    background:$Primary;
    display:flex;
    justify-content:space-around;
    color:$white;
    z-index:$zIndex4;
    padding:1*$gird;
    >div {
        display:flex;
        justify-content:space-around;
        flex-wrap:wrap;
        align-content:space-around;
        text-align:center;
        i {
            font-size:rem(24);
        }
        div {
          font-size:rem(18);
          width:100%;
        }
    }
  }

  /*列表*/
 .zfCell{
       display:flex;
       justify-content:space-between;
       align-items:center;
       min-height:rem(80);
       background:white;
       border-bottom:1px solid rgba(0,0, 0, 0.1);
       padding:rem(8);
       padding-left:rem(30);
       .icon {
            display:flex;
            align-items:center;
            i {
                  font-size:rem(24);
            }
       }
       .content {
            max-width:85%;
       }
       .title {
            font-size:rem(18);
             color:rgba(0,0, 0, 0.87);
             overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
       }
       .secondary {
            color:rgba(0,0, 0, 0.48);
            margin-top:1*$gird;
            overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
            min-width:0px;
            font-size:rem(14);
           
       }
   }


 /*lodaing*/

 .mask {
        position:fixed;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background:rgba(0,0,0,0.8);
        z-index:1000;
    }
    .spinner {
        margin: 100px auto;
        width: 100%;
        height: 60px;
        text-align: center;
        font-size: rem(16);
        z-index:1001;
        position:fixed;
        top:30%;
        left:50%;
        transform:translate(-50%,-50%);
        .item{
            background-color:white;
            height: 100%;
            width: 6px;
            display: inline-block;
            -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
            animation: stretchdelay 1.2s infinite ease-in-out;
        }
        .text {
            font-size:rem(18);
            color:white;
        }
            
        .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }
        
        .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        
        .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
        
        .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
     }
     .spinner.active {
         width:auto;
         background:rgba(0,0,0,0.8);
         padding:8px 10px;
         border-radius:6px;

     }
 
     @-webkit-keyframes stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
        20% { -webkit-transform: scaleY(1.0) }
    }
    
    @keyframes stretchdelay {
        0%, 40%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }  20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }

/*toast*/
 .toast {
        position:fixed;
        left:50%;
        transform:translate(-50%,-50%);
        padding:8px;
        border-radius:3px;
        background:rgba(0,0,0,0.5);
        box-sizing: content-box;
        color:white;
        font-size:rem(18);
        z-index:1100;
        max-width:200px;
    }
    .top {
        top:20%;
    }
    .center {
        top:50%;

    }
    .bottom {
        bottom:20%;
    }